
body {
	padding: 52px;
    background-color: #A59898 !important;
}
h1 {
    /*background-color: #6495ed*/;
    font-size: 44px;
}
.social {
    line-height: 42px;
    font-size: larger;
}
h2 {
    font-size: 65px !important;
}
.yadelBio {
    font-size: 20px;
}
span {
-    color: magenta;		   
 display: block;
}